<div class="container-fluid mt-5">
    <h4>Top Headlines</h4>
    <div class="row">
        <input type="text" [value]="searchTerm" (input)="onSearchInput($event)" class="form-control" placeholder="Search news">
        <div *ngFor="let d of filteredArticles | paginate: { itemsPerPage: 25, currentPage: p }" class="col-lg-3 mt-3 mb-3">
        <div class="box">
          <img src="{{ d.urlToImage }}" width="100%">
          <h5 class="mt-2 mb-2">{{ d.title }}</h5>
          <a href="{{ d.url }}" target="_blank" class="btn btn-dark btn-sm mt-2">Read more</a>
        </div>
      </div>
    </div>
  
    <pagination-controls (pageChange)="p = $event" [maxSize]="5"></pagination-controls>
  </div>
  